@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ---------------------------------------------- VARIABLES ------------------------------------------------------------------------------------ */
:root {
    --bg-color: #F5F2EB;
    --header-bg-color: #1E2427;
}

/* ---------------------------------------------- ALL DOCUMENT --------------------------------------------------------------------------------- */
*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Work Sans';
}
.information-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--header-bg-color);
}
.section-information-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
}
.information-section-title{
    color: white;
    font-size: 40px;
    padding: 20px 30px 20px 30px;
    text-align: center;
}
.paragraph{
    color: white;
    font-size: 17px;
}

/* ---------------------------------------------- HEADER ------------------------------------------------------------------------------------- */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: var(--header-bg-color);
    filter: drop-shadow( 0 0 10px rgba(0, 0, 0,.8));
    z-index: 99;
}
.content-header{
    display: flex;
    width: 1100px;
    justify-content: space-between;
}
.header-title{
    font-family: 'Cinzel decorative';
    color: #6E5C3D;
}
.navbar{
    text-align: center;
}
.navbar-ul{
    list-style-type: none;
    padding: 0;
}
.navbar-element{
    display: inline;
    margin: 10px;
    transition: 0.3s;
}
.navbar a{
    text-decoration: none;
    /*color: #3F3523;*/
    color: white;
    font-size: 18px;
    font-weight: 500;

}
.navbar .main-navbar-element:hover{
    color: #6E5C3D;
    border-bottom: solid 6px #6E5C3D;
    padding-bottom: 18px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content a:hover{
    color: #6E5C3D;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--header-bg-color);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content .navbar-ul li{
    padding: 10px 10px 10px 0;
    transition: 0.3s;
}
.dropdown-content .navbar-ul li:hover{
    background-color: #232A2E;
}

/* ---------------------------------------------- INICIO ------------------------------------------------------------------------------------ */
.inicio{
    color: white;
    background: linear-gradient(to bottom, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)), url('/imgs/img_inicio.png');
    height: 110vh;
    background-size: cover;
    margin: 60px 0 0 0;
}
.inicio-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inicio-title{
    font-family: 'Cinzel decorative';
    font-size: 100px;
}
.img-inicio{
    width: 300px;
    height: 300px;
}

/* ---------------------------------------------- SOBRE NOSOTROS ---------------------------------------------------------------------------- */
.barberos-content{
    display: flex;
    max-width: 1100px;
}
.barbero-left-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}
.barbero-right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.img-barber {
    width: 300px;
    border-radius: 10%;
    aspect-ratio: 4584/6868;
    filter: drop-shadow( 0 0 10px rgba(0, 0, 0,.8) );
}
.barber-name-title{
    color: white;
    font-size: 25px;
    padding: 10px;
}
.img-container{
    padding-top: 20px;
}
.img-local {
    border-radius: 1%;
    width: 100%;
}

/* ---------------------------------------------- GESTIÓN DE CITAS -------------------------------------------------------------------------- */
.input-data-row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
}
.input-data-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
}
.form-label {
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.form-control{
    width: 100%;
    font-size: 18px;
}
/* ---------------------------------------------- FOOTER ------------------------------------------------------------------------------------ */
.columns-container{
    display: flex;
    justify-content: center;
}
.footer-column{
    width: 300px;
}
.timeschedules-ul{
    list-style-type: none;
    padding: 0;
}