* {
    box-sizing: border-box;
}
.content-header{
    display: flex;
    align-items: center;
}
.navbar{
    margin: 0 auto;
    text-align: center;
}
.navbar-ul{
    list-style-type: none;
    padding: 0;
}
.navbar a{
    text-decoration: none;
}
.navbar-element{
    display: inline;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
}
.dropdown:hover .dropdown-content{
    display: block;
}


.columns-container{
    display: flex;
    justify-content: center;
}
.footer-column{
    width: 300px;
}
.timeschedules-ul{
    list-style-type: none;
    padding: 0;
}